:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(114, 76, 76, 0.87);
  background-color:#DB7A65 }


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.book-card {
  width: 500px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.image {
  height: 30vh;
  border-radius: 1rem;}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #999090;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

